*/target/**
*/target/*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
target/surefire-reports/TEST-com.cbt.helper.AppTest.xml
target/surefire-reports/TEST-com.cbt.helper.CBTTest.xml
target/surefire-reports/com.cbt.helper.AppTest.txt
target/surefire-reports/com.cbt.helper.CBTTest.txt

